@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #F3E4C9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #DD9E59;
}


/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px;

  background: #A47251;

  backdrop-filter: blur(10px);

  color: #F3E4C9;

  z-index: 999;

  transform: translateY(-10%);
  opacity: 0;

  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.header.show {
  transform: translateY(0);
  opacity: 80%;
}

.header h1 {
  font-size: 20px;
}

nav {
  display: flex;
  gap: 20px;
}

nav ol {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;

  transition: 0.3s ease;
}

nav a:hover {
  color: #F3E4C9;
}

/* HOME */
.home-container {
  min-height: 100vh;

  padding: 20px;
  color: #A77F60;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 0;
  background: transparent;

  /* position: relative; */
  overflow: hidden;
}
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.title {
  position: relative;
  z-index: 1;
  text-align: center;
}

button {
  padding: 12px 28px;
  border: none;
  border-radius: 30px;

  background: #DD9E59;
  color: white;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}
button:hover{
  background: #F0D8A1;
  transform: scale(1.05);
}
/* HOME ANIMATION */
.title {
  animation: fadeUp 2.5s ease;
}

.title h1 {
  font-size: 50px;
}

.title h3 {
  margin: 20px 0;
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Profile */
.profile-container{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  min-height: auto;

  position: relative;
  z-index: 1;
  background: #fff;
}
.cursor {
  display: inline-block;
  font-weight: 300;
  color: #DD9E59;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.profile-text {
  flex: 1;
  padding: 10px 40px;
  line-height: 2.0;
  font-size: 16px;
  color: #444;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-text span {
  color: #DD9E59;
  font-weight: 700;
}
.profile-img{
  flex: 1;
  display: flex;
  overflow: hidden;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
/* SOCIAL ICON */
.social-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-wrapper p {
  font-size: 16px;
  color: #666;
  /* margin-bottom: 15px; */
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.social-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icons a {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: #f5f5f5;
  color: #DD9E59;

  font-size: 22px;

  transition: 0.3s ease;

  text-decoration: none;
}

.social-icons a:hover {
  background: #F0D8A1;
  color: white;

  transform: translateY(-5px);
}

/* EXPERIENCE */
.experience-container {
  position: relative;
  z-index: 1;
  background: #fff;
  padding-top: 1px;
    scroll-margin-top: 60px;
}
.top {
  justify-content: center;
  align-items: center;
  color: #DD9E59;
  text-align: center;
}
.top p {
  color: #111;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: #DD9E59;
  margin-top: 3%;
}
.stats-box {
  text-align: center;
  border-right: 1px solid #DD9E59;
}
.number {
  font-weight: 700;
  font-size: 25px;
}

.experience-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 24px;
  background-color: #F5E6D0;
}
.exp-card {
  padding: 20px;
  border-radius: 8px;
  background-color: #F0D8A1;
  border-bottom: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.exp-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}
.exp-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}
.exp-left{
  display: flex;
  align-items: center;
  gap: 12px;
}
.exp-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  border-radius: 8px;
}
.exp-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 2px;
}
.exp-org {
  font-size: 13px;
  color: #6b7280;
  margin: 0;
}
.exp-date {
  font-size: 13px;
  color: #6b7280;
  white-space: nowrap;
}
.exp-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.skill-chip {
  font-size: 12px;
  padding: 4px 10px;
  border: 1px solid #DD9E59;
  border-radius: 6px;
  color: #374151;
  background: transparent;
}

/* PROJECT */
.project-container {
  min-height: 100vh;
  background: #F5E6D0;
  padding: 48px 32px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 1;
}

.project-container h1 {
  /* text-align: center;
  font-size: 42px;
  color: #DD9E59;
  margin-bottom: 32px; */
  justify-content: center;
  align-items: center;
  color: #DD9E59;
  text-align: center;
}
.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-items: start;
}

.project-card {
  border-radius: 8px;
  background-color: #DD9E59;
  border-bottom: none;
}
.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}
.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease, box-shadow 0.3s ease;
}
.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}
.img-wrapper {
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.project-img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  object-position: top;
}
.project-info {
  padding: 16px 20px 20px;
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-info h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #111;
}
.project-info p {
  font-size: 14px;
  color: #374151;
  line-height: 1.6;
}
.github-link {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  align-self: flex-end; 
  font-size: 16px;
  font-weight: 500;
  color: #111;
  text-decoration: none;
  background-color: #E8F5D0;
  border-radius: 50px;
  padding: 8px 8px 8px 24px;
  transition: background 0.3s ease;
}
.github-link .arrow-circle {
  width: 40px;
  height: 40px;
  background-color: #F5D9A8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #111;
  margin-left: 16px;
}
.github-link:hover {
  background:#F0D8A1;
}


/* CERTIFICATE */
.certi-container {
  min-height: 100vh;
  padding: 80px 48px 48px;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;

  position: relative;
  z-index: 1;
}

.certi-container h1 {
  justify-content: center;
  align-items: center;
  color: #DD9E59;
  text-align: center;
}

.certi-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.certi-card {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background: #F5E6D0;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  height: 130px;
}

.certi-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(221, 158, 89, 0.25);
}

.certi-img {
  width: 220px;
  height: 130px;
  object-position: top;
  object-fit: cover;
  flex-shrink: 0;
}

.certi-text {
  flex: 1;
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certi-text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #8B5E3C;
  margin-bottom: 6px;
}

.certi-text p {
  color: #8B5E3C;
  font-size: 14px;
}

/* CONTACT */
.contact-container {
  min-height: 80vh;
  padding: 80px 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #F0D8A1;
  font-family: 'Poppins', sans-serif;

  position: relative;
  z-index: 1;
}

.contact-container h1 {
  justify-content: center;
  align-items: center;
  color: #DD9E59;
  text-align: center;
}
.contact-container p {
  color: #8B5E3C;
  font-size: 14px;
}

.contact-form {
  width: 70%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background: #fff;
  padding: 90px;

  border-radius: 25px;

  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.contact-form input,
.contact-form textarea {
  width: 100%;

  padding: 15px 10px;

  border: 1px solid #e5e5e5;
  border-radius: 15px;

  font-size: 16px;
  font-family: 'Poppins', sans-serif;

  outline: none;

  transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #DD9E59;

  box-shadow: 0 0 10px rgba(248, 49, 148, 0.15);
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  width: 180px;
  align-self: center;
}

/* FOOTER */
.footer {
  background: #A47251;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  z-index: 1;
}
.footer small {
  color: #fff;
}